<title>Voting Results</title>

<h1>Voting Results</h1>
Hello <%= session[:name] if session[:name] %>!
<% unless session? %> <a href="/login">Login</a>
<% end %>


<% unless @singers.empty? %>
    <% place = 1 %>
    <ul>

      <% @singers.each do |singer| %>

          <li>

            #<%= place %> Votes:<b> [ <%= singer.votes.count %> ] </b><a href="/del/person/<%= singer.id %>">
            <% if session? %>[x]
            <% end %></a>
            Name: (<%= singer.name %>) {VOTING CODE: <%= singer.id %> }
            <% place += 1 %>
          </li>

      <% end %>

    </ul>

    Total votes: <%= Vote.count %>

<% else %>

    <p>No one is competing!</p>

<% end %>

<br/><br/><br/><br/>
<% if session? %>
    <a href="/admin">Admin</a> <a href="/admin/person/add">Add person</a> <a href="/logout">logout</a>
<% end %>