<title>Voting Results</title>

<h1>Voting Results</h1>

<% unless @singers.empty? %>
<% place = 1 %>
<ul>

<% @singers.each do |singer| %>

<li>

#<%= place %> Votes:<b> [ <%= singer.tally %> ] </b><a href="/del/person/<%= singer.id %>">[x]</a> Name: (<%= singer.name %>) {VOTING CODE: <%= singer.id %> }
<% place += 1 %>
</li>

<% end %>

</ul>

Total votes: <%= Vote.count %>

<% else %>

<p>No one is competing!</p>

<% end %>

<br /><br /><br /><br />

<a href="/admin">Admin</a>
